.li-loi-ich{
    text-align: left !important;
    color: #fff;
    font-size: 22px;
}
ul .li-loi-ich:before {
  content: '✓ ';
  font-size: 34px;
  color: #fff;
}
.slider-text-header{
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.slider-text-title{
    text-align: center;
    color: #fff;
    padding: 3px;
    background-color: #ff5959;
    border-radius: 5px;
}
.slider-contact {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.album {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  
  .card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }
  
  .card > img {
    margin-bottom: .75rem;
    max-width: 100%;
  }
  
  .card-text {
    font-size: 85%;
  }
  .ul-check-match {
    background-color: transparent;
    list-style: none;
  }
  .li-check-match{
    text-align: start;
    color: #fff;
    font-size: 25px;
    background: #ff5959;
    border: none;
  }
  .ul-check-match .li-check-match:before {
    content: '✓ ';
    font-size: 34px;
    color: #fff;
  }
  .title-header {
    text-align: center;
    color: #fff;
  }
  .title-header-o {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 27px;
  }
  .text-description {
    text-align: justify;
    color: #000;
    font-size: 17px;
  }
  .appointment-form {
    background-color: #ff5959;
    padding: 10px;
    border-radius: 10px;
  }
  .text-color-r {
    color: #ff5959 !important;
  }
  .btn.btn-primary:hover {
    background: transparent !important;
    color: #f7d926 !important;
  }
  .img-number {
    border-radius: 50%;
    background: antiquewhite;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .course-ftco-animate {
    background-image: linear-gradient(#f16565, #fdd1be);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    height: 100%;
  }
  .slider-text-title-o {
    text-align: center;
    color: #fff !important;
    padding: 3px;
    background-color: #ff5959;
  }